@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$tabletWidth: 768px;
$desktopWidth: 992px;
$headerPaddingTop: 20px;

$octocatBackgroundColor: #B9C2C7;
$octocatComplementaryColor: #8999A2;
$octocatDarkColor: #647E8B;

$bodyFont: 'Open Sans'


