<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="icon" href="lib/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shuang Liu</title>
    <link rel="stylesheet" href="lib/css/main.css">
    <link rel="stylesheet" href="lib/css/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <h1>Shuang Liu</h1>
      <h2>UX Designer</h2>
      <div class='logo'>
        <p>SL</p>
      </div>
    </header>

    <nav>
      <div class="navLinks">
        <ul>
          <li><a class="currentPage" href="index.html">Home</a></li>
          <li><a href="oil_paintings.html">Oil Paintings</a></li>
          <li><a href="illustrations.html">Illustrations</a></li>
          <li><a href="icons.html">Icons</a></li>
        </ul>
      </div>
    </nav>

    <section class="aboutMe">
      <h2>Hello, I am Shuang</h2>
      <p>I am a first year Master's Student at the University of Michigan studying Human-Computer Interaction. I am taking Design of Complex Websites, Graphic Design, Fundamentals of Human Behaviors and Contextual Inquiry this semester.</p>

      <p> Before graduate school, I was living in Boston. It was fun to live in an urban city with lots of activies. But after I moved to Ann Arbor, I have been enjoying this peaceful yet hip town. Ann Arbor is a small town with everything.
      </p>
    </section>

    <footer>
      <ul>
        <li>
          <a href="mailto:shuangliu12@gmail.com"><i class="fa fa-4x fa-envelope-square"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/sl_illustration/" target="_blank"><i class="fa fa-4x fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shuangliu12" target="_blank"><i class="fa fa-4x fa-linkedin-square"></i></a>
        </li>
        <li>
          <a href="https://github.com/shuangliu12" target="_blank"><i class="fa fa-4x fa-github-square"></i></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
