{% extends 'base.html' %}

{% block content %}
  <section class="aboutMe">
      <h2>Hello, I am Shuang</h2>
      <p>I am a first year Master's Student at the University of Michigan studying Human-Computer Interaction. I am taking Design of Complex Websites, Graphic Design, Fundamentals of Human Behaviors and Contextual Inquiry this semester.</p>

      <p> Before graduate school, I was living in Boston. It was fun to live in an urban city with lots of activies. But after I moved to Ann Arbor, I have been enjoying this peaceful yet hip town. Ann Arbor is a small town with everything.
      </p>
    </section>
{% endblock %}
