{% extends 'base.html' %}

{% block content %}

    <section class='icon'>
      <div class='iconTitle'>
        <h2>Icon Library</h2>
        <p>I designed this icon library for a design project for FIT. All the icons are drawn with Sketch. This is my attempt to create icons.</p>

        <p>FIT is an application for diabetes management. FIT is a post-modernism take on authorities, providing different viewpoints of diabetes. I am the designer for this project. </p>
      </div>

      <figure class="gallery_image">
        <img src="static/img/icons/icons.png" alt="line graphic icons about diabetes management">
      </figure>
    </section>
{% endblock %}
