<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="icon" href="lib/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shuang Liu</title>
    <link rel="stylesheet" href="lib/css/main.css">
    <link rel="stylesheet" href="lib/css/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <h1>Shuang Liu</h1>
      <h2>UX Designer</h2>
      <div class='logo'>
        <p>SL</p>
      </div>
    </header>

    <nav>
      <div class="navLinks">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="oil_paintings.html">Oil Paintings</a></li>
          <li><a class="currentPage" href="illustrations.html">Illustrations</a></li>
          <li><a href="icons.html">Icons</a></li>
        </ul>
      </div>
    </nav>

    <section class="illustrations">
      <figure class="gallery_image">
        <img src="lib/img/illustrations/my_best_friend.png" alt="a girl holding hands of her self">
        <figcaption>With My Best Friend</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/illustrations/paranoia.jpg" alt="a man run away from people">
        <figcaption>Paranoia</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/illustrations/wheeling.jpg" alt="a wheel showing life stages of a woman">
        <figcaption>Wheeling </figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/illustrations/routes_for_cs_grads.jpg" alt="a man whose graduation gown linked to Silicon Valley">
        <figcaption>Routes for Computer Science Grads</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/illustrations/pull_myself_together.png" alt="A girl with missing heart trying to sew herself together">
        <figcaption>Pull Myself Together </figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/illustrations/my_phone_my_mind.jpg" alt="a head with its brain is replaced by a iphone">
        <figcaption>My Phone, My Mind</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/illustrations/path_to_heart.jpg" alt="a girl builds a path from stomach to heart with food">
        <figcaption>The Path to One's Heart is through the Stomach</figcaption>
      </figure>
    </section>

    <footer>
      <ul>
        <li>
          <a href="mailto:shuangliu12@gmail.com"><i class="fa fa-4x fa-envelope-square"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/sl_illustration/" target="_blank"><i class="fa fa-4x fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shuangliu12" target="_blank"><i class="fa fa-4x fa-linkedin-square"></i></a>
        </li>
        <li>
          <a href="https://github.com/shuangliu12" target="_blank"><i class="fa fa-4x fa-github-square"></i></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
