{% extends 'base.html' %}

{% block content %}
    <section class="illustrations">
      <figure class="gallery_image">
        <img src="static/img/illustrations/my_best_friend.png" alt="a girl holding hands of her self">
        <figcaption>With My Best Friend</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="static/img/illustrations/paranoia.jpg" alt="a man run away from people">
        <figcaption>Paranoia</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="static/img/illustrations/wheeling.jpg" alt="a wheel showing life stages of a woman">
        <figcaption>Wheeling </figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="static/img/illustrations/routes_for_cs_grads.jpg" alt="a man whose graduation gown linked to Silicon Valley">
        <figcaption>Routes for Computer Science Grads</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="static/img/illustrations/pull_myself_together.png" alt="A girl with missing heart trying to sew herself together">
        <figcaption>Pull Myself Together </figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="static/img/illustrations/my_phone_my_mind.jpg" alt="a head with its brain is replaced by a iphone">
        <figcaption>My Phone, My Mind</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="static/img/illustrations/path_to_heart.jpg" alt="a girl builds a path from stomach to heart with food">
        <figcaption>The Path to One's Heart is through the Stomach</figcaption>
      </figure>
    </section>
{% endblock %}

    