{% extends 'base.html' %}

{% block content %}

    <section class='statement'>
      <h3>Artist Statement</h3>
      <p>We all live under surveillance. We pry into each other’s private lives. Technology has become stalkers’ best friend. Everyone stalks and is stalked by others.
      </p>
      <p>I made the portraits look tranquil in order to demonstrate that people have gotten used to this form of surveillance. The stalking tools in the portraits are some of the most commonly used items: a camera, Skype, Facebook and an iPhone. </p>
    </section>

    <section class="oil_paintings">
      <figure class="gallery_image">
        <img src="lib/img/oil_paintings/lens.png" alt="a painting of a girl in a camera lens">
        <figcaption>You can never escape from my lens</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/oil_paintings/disconnect.png" alt="a painting of a girl try to end a skype call">
        <figcaption>Disconnect</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/oil_paintings/esc.png" alt="a painting of a girl trying to close messsanger chat">
        <figcaption>Escape</figcaption>
      </figure>

      <figure class="gallery_image">
        <img src="lib/img/oil_paintings/slide_to_unlock.png" alt="a painting of a girl on an iphone screen">
        <figcaption>Slide to unlock</figcaption>
      </figure>
    </section>
{% endblock %}
